<header>
  <div class="brand">
    <div class="brand-logo">
      <img src="/brands.png" alt="Logo" />
    </div>
  </div>

  <div class="container-search">
    <input type="text" placeholder="Barra de búsqueda" class="input__search" />
  </div>

  <div class="container-right">
    <button class="buttom__open-items">
      <i
        class="bx main-menu"
        [class.bx-menu]="!toggleMenu"
        [class.bx-x]="toggleMenu"
        (click)="ShowMenu()"
      >
      </i>
    </button>
    <div class="container__avatar-user">
      <div class="avatar"></div>
    </div>

    <div class="container-items__icons" [class]="{ show: toggleMenu == true }">
      <ul>
        <li>Inicio</li>
        <li>Mensajes directos</li>
        <li>Crear publicación</li>
        <li>Notificaciones</li>
      </ul>
    </div>
  </div>
</header>

<div class="container-chats">
  <div class="container1">
    <ul class="ListUsers">
      @for (items of users; track items) {

      <li class="users" (click)="ConseguirUsuario(items.nombre)">
        {{ items.nombre }}
      </li>
      }
    </ul>
  </div>

  <div class="container2">
    <div class="chat-box">
      <div class="messages">
        <ul class="itemMessage">
          @for (items of mensajes; track items) {

          <li [class.myMessage]="usuario === items.usuario">
            {{ items.usuario_destinatario }}: {{ items.message }}
          </li>
          }
        </ul>
      </div>
      <div class="send-message">
        <input
          type="text"
          [(ngModel)]="nuevoMensaje"
          placeholder="Escribe un mensaje..."
        />
        <button (click)="enviarMensaje()">Enviar</button>
      </div>
    </div>
  </div>
</div>
